{% extends 'board/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Done{% endblock title %}

{% block breadcrumb %}

<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change Password</a></li>
    <li class="breadcrumb-item active">Password Changed</li>
</ol>
{% endblock breadcrumb %}



{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
</div>
<a href="{% url 'board:home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}