{% extends 'board/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}



{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Change Password</li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="password_reset">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-outline-success" value="Apply">
            </form>
        </div>
    </div>
</div>
{% endblock content %}