{% extends 'accounts/account.html' %}
{% load crispy_forms_tags %}
{% block title %}
{% if validlink %}
Change password for {{ form.user.username }}
{% else %}
Reset your password
{% endif %}
{% endblock title %}
{% block content %}
<div class="password_reset">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Reset Password</h5>
            {% if validlink %}
            <form action="." method="POST">

                {% csrf_token %}
                <h2>Password reset for @{{ form.user.username }}</h2>
                {{ form|crispy }}
                <input type="submit" class="btn btn-outline-success">

            </form>
            {% else %}
            <a href="{% url 'password_reset' %}">Go back to password reset view</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}