{% extends 'accounts/account.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}


{% block content %}


<div class="password_reset">

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Password changed!</h3>
            <div class="alert alert-success" role="alert">
                You have successfully changed your password! You may now proceed to log in.
            </div>
            <a href="{% url 'signin' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
    </div>
</div>

</div>


{% endblock content %}